.carousel-item img{
    height: 100vh;
}
/*------------
 Media queries
------------- */

/* Tablet */
@media only screen and (max-width:768px) {
    .carousel-item img{
        height: 50vh;
    }
    .carousel-caption{
        width: 80%;
    }
}
.social-icons i{
    background-color: rgb(59, 59, 59);
    cursor: pointer;
}
